# Auto detect text files and perform LF normalization
* text=auto
Assets/Characters/Player/Ch15_nonPBR@Jump.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Characters/Player/Ch15_nonPBR@Standard[[:space:]]Run.fbx filter=lfs diff=lfs merge=lfs -text
